@page
@{
    ViewBag.Title = "Static";
}
<div class="form-group">
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" class="form-control" />
</div>
<input id="hidden-input" type="hidden" class="form-control" />